
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<form method="post">
    <label>Customer Name</label>
    <input required type="text" class="form-control" name="MUSTERIAD" />
    <label>Customer Surname</label>
    <input required type="text" class="form-control" name="MUSTERISOYAD" />
    <button style="margin-top:1rem;" class="btn btn-info">Add Customer</button>
</form>